body {
  background-color: #F5F7FB;
  background-image: url("./assets/blob-top.png"), url("./assets/blob-bottom.png");
  background-repeat: no-repeat;
  background-position-x: right, left;
  background-position-y: top, bottom;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  margin: 0;
}

button {
  cursor: pointer;
}





